.steps {
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 24px;
}

.form h3 {
    color: #0c044a;
    font-family: "ubuntu-bold";
    font-size: 22px;
    margin-bottom: 0;
}

.form p {
    font-size: 14px;
    color: rgb(121, 121, 121);
}

.submitBtn {
    width: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: end;
}