.wrapper {
    position: relative;
    width: 300px;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto
}

.content {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 16px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    margin: 16px 0;
}

.stepItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    margin-left: 16px;
}

.stepCount {
    color: rgb(196, 190, 190);
    font-size: 13px;
    font-family: "ubuntu-medium";
}

.circle {
    border: 1px solid rgb(196, 190, 190);
    border-radius: 100%;
    padding: 8px;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background: rgb(161, 191, 212);
    border: none;
    color: #000;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 460px;
    }
}

@media (max-width: 768px) {
    /* .wrapper {
        width: 600px;
    } */
}

@media (max-width: 425px) {
    /* .wrapper {
        width: 600px;
    } */
}

@media (max-width: 375px) {
    /* .wrapper {
        width: 600px;
    } */
}

@media (max-width: 320px) {
    /* .wrapper {
        width: 600px;
    } */
}