.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
}

.formGroup label,
.formGroup input {
    color: #000;
    font-family: 'ubuntu-medium';
    font-size: 16px;
    margin-bottom: 16px;
}

.formGroup input {
    border: 1px solid rgb(196, 190, 190);
    margin-bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    padding: 0 16px;
}

.error {
    border: 1px solid red !important;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}