@font-face {
    font-family: "ubuntu-bold";
    src: url("./assets/fonts/Ubuntu-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "ubuntu-medium";
    src: url("./assets/fonts/Ubuntu-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "ubuntu-regular";
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
    font-display: swap;
}

body {
    margin: 0;
    font-family: "ubuntu-regular";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}