.layout {
    width: 100%;
    background: #cce9f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 50%;
    height: 80%;
    background: white;
    padding: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 10px 10px 60px -48px rgba(255, 255, 255, 1);
    -moz-box-shadow: 10px 10px 60px -48px rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 60px -48px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}